# PORT Define, you can define it according to your PCB port definition.
NET "sclk" LOC = V10 | IOSTANDARD = LVCMOS33;
NET "srst" LOC = R7  | IOSTANDARD = LVCMOS33;

NET "tft_bl"  LOC = C6  | IOSTANDARD = LVCMOS33;
NET "tft_clk" LOC = A4  | IOSTANDARD = LVCMOS33;
NET "tft_de"  LOC = B3  | IOSTANDARD = LVCMOS33;
NET "vsync"   LOC = A3  | IOSTANDARD = LVCMOS33;
NET "hsync"   LOC = B4  | IOSTANDARD = LVCMOS33;
NET "rgb[0]"  LOC = A5  | IOSTANDARD = LVCMOS33;
NET "rgb[1]"  LOC = C5  | IOSTANDARD = LVCMOS33;
NET "rgb[2]"  LOC = D8  | IOSTANDARD = LVCMOS33;
NET "rgb[3]"  LOC = A7  | IOSTANDARD = LVCMOS33;
NET "rgb[4]"  LOC = C7  | IOSTANDARD = LVCMOS33;
NET "rgb[5]"  LOC = A6  | IOSTANDARD = LVCMOS33;
NET "rgb[6]"  LOC = A8  | IOSTANDARD = LVCMOS33;
NET "rgb[7]"  LOC = B8  | IOSTANDARD = LVCMOS33;
NET "rgb[8]"  LOC = F8  | IOSTANDARD = LVCMOS33;
NET "rgb[9]"  LOC = G8  | IOSTANDARD = LVCMOS33;
NET "rgb[10]" LOC = C8  | IOSTANDARD = LVCMOS33;
NET "rgb[11]" LOC = A9  | IOSTANDARD = LVCMOS33;
NET "rgb[12]" LOC = D11 | IOSTANDARD = LVCMOS33;
NET "rgb[13]" LOC = C11 | IOSTANDARD = LVCMOS33;
NET "rgb[14]" LOC = C10 | IOSTANDARD = LVCMOS33;
NET "rgb[15]" LOC = A10 | IOSTANDARD = LVCMOS33;